<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand logo" href="#">_sasturain.com</a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <li class="container-language" style="float: right">{{ get_languages({'no_text': true}) }}</li>
    <ul class="nav navbar-nav navbar-right main-nav">
        <li><a href="#home">{{ 'home' | trans  }}</a></li>
        {% set items = get_menu_items(true) %}
        {% for item in items %}
            {% if item.subitems | length == 0 %}
                <li><a href="#{{item.slug}}">{{item.name}}</a></li>
            {% else %}
                <li><a href="#{{item.slug}}">{{item.name}}</a>
                    <ul class="" style="-webkit-user-select: none; display: none; position: absolute;">
                        {% for sub in item.subitems %}
                            <li style="white-space: nowrap;"><a href="{{ path('core_menuitem_menu', {slug:  sub.slug} ) }}" style="display: block;">{{sub.name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
        {% endfor %}
        <li><a href="#_blog">{{ 'blog.singular' | trans  }}</a></li>
        {% if app.user %}
            <li ><a class="icon fa-user" href="#">{{ app.user.name }}</a>
                <ul class="" style="-webkit-user-select: none; display: none; position: absolute;">
                    <li><a href="{{ path('core_actor_profile') }}" style="display: block;">Perfil</a></li>
                    <li><a href="{{ path('logout') }}" style="display: block;">Cerrar sesión</a></li>
                </ul>
            </li>
        {% else %}
            <li class="btn btn-blue access">
                <span data-toggle="modal" data-target="#modalLogin">{{ 'login.short' | trans }}</span> {{ 'or' | trans }} 
                <span data-toggle="modal" data-target="#modalRegister" >{{ 'signup.first' | trans }}</span>
            </li>
        {% endif %}
        
    </ul>
        
</div>
<!-- /.navbar-collapse -->